BR2_aarch64=y
BR2_KERNEL_HEADERS_5_15=y
BR2_ROOTFS_POST_BUILD_SCRIPT="board/ieiworld/pre-build.sh"
BR2_PACKAGE_FB_TEST_APP=y
BR2_PACKAGE_MEMTESTER=y
BR2_PACKAGE_LIBGPIOD=y
BR2_PACKAGE_LIBGPIOD_TOOLS=y
